body {
  background-color: #000;
  color: #0f0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #00ff88;
}

.count-box {
  font-size: 2.8em;
  font-weight: bold;
}

.count-box p {
  font-size: 1em;
  color: #aaa;
  margin-top: 10px;
}

.powered {
  margin-top: 30px;
  font-size: 0.9em;
  color: #555;
}
